@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans&family=Pacifico&display=swap');
$font-montserrat:'Montserrat', sans-serif;
$font-pacifico:'Pacifico', cursive;
$font-opensans: 'Open Sans', sans-serif;
$text-color: #424242;
$main-color: #8262b5;
$title-color: #222;

